
<!-- Simple syntax -->
<div [ngBusy]="busy"></div>


<div class="rg-title">
    <h1>SIMPLE TODO LISTS</h1>
    <h3>FROM RUBY GARAGE</h3>
</div>


<div *ngFor="let list of lists">
    <rg-list [list]="list"></rg-list>
</div>



<div class="rg-footer">
    <div class="add-list">
        <button (click)="addList()">
            <div><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="add">Add TODO List</div>
        </button>
    </div>

    <div class="copy">&copy; Ruby Garage</div>
</div>